.main{
    width: 50%;
    height: 50px;
}
.book-cover{
    width: 350px;
}
.description{
    width: 100%;
    padding-left: 20px;
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
}
.title{
    font-weight: bold;
    font-size: 30px;
    font-family: sans-serif;
}
.rating{
    width: 150px;
}
.para{
    font-size: 20px;
}