body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App{
  height: 100vh;
  position: relative;
}

#Card{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 600px;
  background-color: black;
  border-radius: 20px;

}
#card-title{
  width: 100%;
  background-color: grey;
  height: 10%;
  border-radius:  20px 20px 0 0;
}
#card-post{
  height: 75%;
  background-color: white;
}
#card-status{
  width: 100%;
  background-color: grey;
  height: 15%;
}
#card-caption{
  height: 10%;
  background-color: black;
  border-radius: 0 0 20px 20px;
}
